/* font */
h1 {
    font-size: 28px;
    letter-spacing: 0.08em;
}

.h1_sub {
    font-size: 24px;
    line-height: 40px;
}

h2 {
    font-size: 18px;
    line-height: 40px;
    /* text-align: center; */
}
h3{
    font-size: 16px;
}

p {
    font-size: 14px;
    line-height: 28px;

}

.container {
    width: 370px;
}

/* ------------ nav ------------ */
nav {
    height: 50px;
}
nav .out > a{
    width: 50%;
    display: inline;
}
nav .out{
    position: relative; /* for ul */
}
nav img{
    width: 100%;
}

/* nav-menu */
nav ul{
    width: 100vw;
    position: fixed;
    top: 50px;
    left: -100vw;
    flex-direction: column;
    background-color: var(--pri_green);
    transition: .5s;

    /* display: none; */
}

nav ul li{
    margin-left: 0;
    position: relative;
}
nav ul li:not(:last-child)::after{
    content: "";
    width: 86%;
    height: 1px;
    background-color: var(--pri_brown);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

nav ul li a {
    bottom: 0;
    text-align: center;
    padding: 16px 60px 16px 40px;
    white-space: nowrap;
    font-size: 16px;
    /* letter-spacing: .5em; */
}
nav ul li a .fa-solid:before{
    display: none;
}
nav ul li:nth-child(5) a,nav ul li:nth-child(6) a{
    display: block;
    text-align: left;
    margin-left: 95px;

    position: relative;
}
nav ul li:nth-child(5) a::before{
    content:"會員登入";
    position: absolute;
    left: 70px;
}
nav ul li:nth-child(6) a::before{
    content:"購物車";
    position: absolute;
    left: 72px;
    letter-spacing: .5em;
}
nav ul li:hover a::after {
    display: none;
}
nav ul>li:hover>a{
    bottom: 0;
}
nav ul li:focus {
    background-color: #ffffffc0;
}

/* ------------ bar ------------ */
.bar{
    display: block;
    right: 5px;
    height: 100%;
    z-index: 1;
}
.bar span{
    top: 30px;
}
.bar span:first-child{
    top: 20px;
}
.bar:hover span:last-child {
    width: 50%;
}

.bar:hover span:first-child {
    width: 50%;
}

/* bar - click */
nav ul.-on{
    left: 0;
}
.bar span.-on:first-child {
    transform: rotate(-45deg);
    top: 25px;
}

.bar span.-on:last-child {
    transform: rotate(45deg);
    top: 25px;
}



/* ------------ footer ------------ */
footer{
    padding-top: 30px;
}
footer .out{
    flex-direction: column;
}

footer .left>a{
    display: inline-block;
    width: 28%;
    

}
footer .left img{
    margin-bottom: 2px;
}
footer .left{
    width: auto;
    text-align: center;
    margin: 0;
    margin-bottom: 18px;
}
footer .left ul{
    display: inline-block;
    text-align: center;
}
footer .left ul li{
    display: inline-block;
}
footer .left ul li a{
    display: block;
}
footer .left ul i{
    font-size: 22px;
    padding-top: 12px;
    margin: 0 10px;
}


footer .right{
    margin: 0;
    display: block;
}

footer .right li:not(:last-child){
    display: none;
}
footer .right li:last-child a{
    display: none;
}
footer .right li:last-child{
    text-align: center;
    white-space: nowrap;
    color: var(--sub_brown);
    letter-spacing: 0.08em;
    font-size: 14px;
}
footer .right li:last-child i{
    margin-bottom: 10px;
}
footer .copyright{
    font-size: 12px;
    line-height: 28px;
}

/* btt btn */
.btt{
    bottom:40px;
}
.btt img{
    width:34px;
}
.hide {
    transform: translateX(200%);
}

/* -------- btn -------- */
.btn {
    font-size: 16px;
    padding: 8px 24px;
    border-radius: 8px;
}
.btn::before{
    display: none;
}
