/* default */
@import url("reset.css");
@import url("default.css");

/* 探索星品 */
.title {
    margin-top: 60px;
    margin-bottom: 60px;
}

.bread ul li a {
    margin-right: 30px;
}

.bread ul li a,
.page ul li a,
.pagedots {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    color: var(--sub_brown);
}

.wrapper {
    position: relative;
    margin-bottom: 160px;
    display: flex;
    justify-content: space-between;
}

.wrapper .circle {
    font-size: 14px;
    letter-spacing: .4em;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 150px;
    top: -50px;
    z-index: 20;
    animation: cir 10s linear infinite;
}

@keyframes cir {
    to {
        transform: rotate(360deg);
    }
}

.wrapper .circle path {
    fill: none;
}

.wrapper .circle svg {
    display: block;
    overflow: visible;
}

.wrapper .circle textPath {
    fill: var(--sub_brown);
}



/* right ------------------ */
.wrapper .productArea {
    margin-left: 40px;
    flex-basis: 960px;
}

/* left ------------------- */
.wrapper .menu {
    background-color: var(--pri_green);

    background-image: url("../images/bg/productTexture.png");
    background-size: 110%;
    background-repeat: no-repeat;
    background-position: -20px 0px;

    flex-basis: 200px;
    flex-grow: 1;

    height: 450px;
    position: sticky;
    top: 120px;

    text-align: center;

    padding-top: 30px;
    box-sizing: border-box;
}

.menu li a {
    text-decoration: none;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.3em;
    color: #fff;
}
.menu li:hover>a{
    color: var(--pri_brown);
}

.menu ol {
    height: 0px;
    transition: .3s;
    overflow: hidden;
}
.menu ol.-on{
    height: 160px;
    margin-bottom: 16px;
}

.menu ol li a {
    color: #ffedd5;
    font-size: 15px;
    line-height: 40px;
    letter-spacing: 0.1em;
}

/* menu - ol */
.menuOl{
    position: relative;
}

.menuOl::after{
    content: "";
    width: 8px;
    height: 8px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    position: absolute;
    right: 30px;
    top: 15px;
    transform: rotate(-135deg);
    transition: .3s;
    transition-property: transform,position;
}
.menuOl:hover::after{
    border-top: 1px solid var(--pri_brown);
    border-left: 1px solid var(--pri_brown);
}
.menuOl.-on::after{
    top:20px;
    transform: rotate(45deg);
}

/* right ------------------ */

.productArea .top {
    width: 100%;
    height: 450px;
    position: relative;
    margin-bottom: 60px;
}

.productArea .cover {
    /* position: relative; */
}

/* .productArea .cover::before {
    content: "";
    width: 50%;
    height: 100%;
    background-color: #ffffff79;
    position: absolute;
    left: 0;
} */

.g1 h3 {
    color: #ffffffe0;
    font-size: 30px;
    font-family: 'Noto Serif TC', serif;
    font-weight: 700;
    line-height: 52px;
    text-align: center;
    letter-spacing: 0.08em;
    padding-top: 30px;
    margin-bottom: 20px;
}

.g1 h4 {
    color: #ffffffbc;
    font-family: 'Kaisei Decol', serif;
    text-align: center;
    font-size: 24px;
    letter-spacing: 0.5em;
}

.g1 {
    background-image: url("../images/bg/flowerWithVase.jpg");
    background-size: cover;
    background-position: bottom;
    height: 100%;

    clip-path: polygon(0 0, 93% 0, 93% 40%, 50% 40%, 50% 100%, 0 100%);

    transition: .5s;
}

.bg {
    width: 160px;
    height: 160px;
}

.g2 {
    background-image: url("../images/product/pinky.jpg");
    position: absolute;
    background-size: contain;
    right: 400px;
    top: 240px;
}

.g3 {
    background-image: url("../images/product/bluesea.jpg");
    background-size: contain;
    position: absolute;
    right: 200px;
    top: 240px;
}

.g4 {
    background-image: url("../images/bg/bgEucalyptus.jpg");
    background-size: 160%;

    background-position: right;
    position: absolute;
    right: 0;
    top: 240px;
}

.gnav {
    position: absolute;
    top: 50px;
    right: 25px;
}

.gnav ul li {
    width: 12px;
    height: 12px;
    background-color: var(--pri_rice);
    margin-bottom: 20px;
}

.gnav ul li.-on {
    background-color: var(--pri_pink);
}

/* bread */
.bread {
    border-bottom: 1px solid var(--sub_brown);
    margin-bottom: 40px;
}

.bread ul {
    display: flex;
    padding-bottom: 15px;
}

.bread ul li:last-child a {
    color: var(--pri_brown);
}

.bread ul li:not(:last-child) a::after {
    content: "";
    width: 1px;
    height: 20px;
    background-color: var(--sub_brown);
    position: absolute;
    right: -15px;
    bottom: -1px;
    transform: rotate(30deg);
}

/* product */
.product {
    margin-bottom: 60px;
}

.product ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.product ul li {
    width: 280px;
    margin: 0 20px;
    margin-bottom: 40px;
}

/* img */
.product ul li .img {
    border-radius: 3px;
    padding-bottom: 100%;
    background-size: cover;
    transition: .3s;
}

.product ul li .m1 {
    background-image: url("../images/product/eucalyptus.jpg");
}

.product ul li:hover .m1 {
    background-image: url("../images/product/eucalyptusDemo.jpg");
}

.product ul li .m2 {
    background-image: url("../images/product/elf.jpg");
}

.product ul li:hover .m2 {
    background-image: url("../images/product/elfDemo2.jpg");
}

.product ul li .m3 {
    background-image: url("../images/product/bluesea.jpg");
}

.product ul li:hover .m3 {
    background-image: url("../images/product/blueseaDemo.jpg");
}

.product ul li .m4 {
    background-image: url("../images/product/pearlpink.jpg");
}

.product ul li:hover .m4 {
    background-image: url("../images/product/Demo.jpg");
}

.product ul li .m5 {
    background-image: url("../images/product/tiger.jpg");
}

.product ul li:hover .m5 {
    background-image: url("../images/product/blueseaDemo.jpg");
}

.product ul li .m6 {
    background-image: url("../images/product/pinky.jpg");
}

.product ul li:hover .m6 {
    background-image: url("../images/product/Demo2.jpg");
}

.product ul li .m7 {
    background-image: url("../images/product/nature.jpg");
}

.product ul li:hover .m7 {
    background-image: url("../images/product/natureDemo.jpg");
}

.product ul li .m8 {
    background-image: url("../images/product/whitenature.jpg");
}

.product ul li:hover .m8 {
    background-image: url("../images/product/Demo.jpg");
}

/* btn */
.product ul li button {
    /* cursor:pointer;
    pointer-events: auto; */
    position: absolute;
    top: 240px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 30;

    width: 88%;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Noto Serif TC', serif;
    line-height: 40px;
    color: var(--pri_brown);
    letter-spacing: .3em;

    background-color: #f4f0ecd5;
    border: none;
    border-radius: 2px;

    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.product ul li:hover button {
    top: 220px;
    opacity: 1;
    visibility: visible;
}

/* 字卡 */
.product ul li p {
    line-height: 30px;
}

.product ul li .price {
    color: var(--sub_brown);
    display: inline-block;
    text-decoration: line-through;
    margin-right: 10px;
}

.product ul li a {

    display: block;
    text-decoration: none;
    color: var(--pri_brown);
    font-family: 'Noto Serif TC', serif;
    position: relative;
}
.product ul li .tag{
    position: absolute;
    left: -15px;
    top: 20px;
}
.product ul li .tag p{
    white-space: nowrap;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    /* letter-spacing: .2em; */
    color: #fff;
    text-align: center;
    background-color: var(--pri_pink);
    padding: 0 8px 0 8px;
    border-radius: 2px;
    margin-bottom: 15px;
}
.product ul li .tag .new span{
    transform: translateY(-8%);
    display: inline-block;
    animation: new .7s infinite linear alternate;
}
@keyframes new{
    0%{
        transform: translateY(-8%);
    }
    100%{
        transform: translateY(8%);
    }
}
.product ul li .tag .new span:nth-child(2){
    animation-delay: .2s;
}
.product ul li .tag .new span:nth-child(3){
    animation-delay: .4s;
}

.product ul li .tag p .discount{
    letter-spacing: .1em;
    font-size: 12px;
}


/* page */

.page ul {
    width: 35%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.pagedots {
    pointer-events: none;
}

.page ul li a {
    text-align: center;
    line-height: 28px;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: .2s;
}

.page ul li:hover a {
    background-color: var(--pri_pink);
    color: #fff;
}